
.pattern{
    background-size: contain;
    background-image: url(../img/pattern.png);
    height: 100px;
    background-color: #4EA0FF;  
}

.logo{
    height: 50%;
    margin-top: 40px;
}

.author{
    margin-bottom: 20px;
    color: grey;
}

.first h1{
    font-size: 50px;
    color: black;
    margin-bottom: 0;
}

h4 a{
    text-decoration: none;
    color: #70C8EE;
}
.first h4{
    margin-bottom: 0;
}

.first span{
    font-size: 14px;
}

table{
    border-collapse:collapse;
}

thead{
    background-color: #1FA9E5;
    color: white;
   
}

.light-blue{
    background-color: #B1E5F2;
}


#monitor{
    background-image: url(../img/monitor.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 150px;
    margin-bottom: 10px;
}

#graph{
    background-image: url(../img/graph.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 150px;
}